<%= form_for @tasq do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, :size=>100 %>
  </p>
  <p>
    <%= f.label :worker %><br />
    <%= text_field_tag :worker %>
  </p>
  <p>
    <%= f.label :reviewers %><br />
    <%= text_field_tag :reviewers %>
  </p>
  <p><%= f.submit %></p>
<% end %>
