<h1>
   <%= @project.name %>
</h1>


<%= form_for @tasq do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label "Task Descripction" %><br />
    <%= f.text_area :name, :cols=>70, :rows=>3 %>
	<%= f.hidden_field :project_id%>
  </p>
  <p><button class="blue-pill">Add Task</button></p>
<% end %>

<h3>
Current Tasks
</h3>
 
<% for tasq in @tasqs %>
    <%= tasq.name %> <br/>
 <% end %>

<p>
  <%= link_to "Edit", edit_project_path(@project) %> |
  <%= link_to "Destroy", @project, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", projects_path %>
</p>
